@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url("../assets/fonts/inter-v12-latin-100.woff2");
  font-weight: 100;
}
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/inter-v12-latin-200.woff2");
  font-weight: 200;
}
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/inter-v12-latin-300.woff2");
  font-weight: 300;
}
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/inter-v12-latin-regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/inter-v12-latin-500.woff2");
  font-weight: 500;
}
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/inter-v12-latin-600.woff2");
  font-weight: 600;
}
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/inter-v12-latin-700.woff2");
  font-weight: 700;
}
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/inter-v12-latin-800.woff2");
  font-weight: 800;
}
@font-face {
  font-family: Inter;
  src: url("../assets/fonts/inter-v12-latin-900.woff2");
  font-weight: 900;
}